  @import "compass";
  @import "modular-scale";
  @import "compass/layout/grid-background";
  @import "mixins";

  // Colors
  $mainColor: #0593dc;
  $alertColor: #e91c21;
  $successColor: #5b8737;
  $secondaryColor: #e9e9e9;
  $highlightColor: #ffff00;
  $txtColor: #222;
  $black: #000;
  $white: #fff;
  $shinyEdge: rgba(#fff, .5);
  $darkEdge: rgba(#000, .2);
  
  // UI
  $buttonRadius: 3px;

  // Media Queries
  $screen-small: 768px;
  $screen-medium: 1280px;
  $screen-large: 1441;

  $media-small: "only screen and (max-width: 768px)";
  $media-medium: "only screen and (max-width: 1280px) and (min-width: 600px)";
  $media-xlarge: "only screen and (max-width: 1441px)";
  $media-landscape: "screen and (orientation: landscape)";
  $media-portrait: "screen and (orientation: portrait)";
  $media-all: "only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px)";

  // Modular Scale Variables
  $ratio: $golden;
  $base-size: 14px 44px;
  // Produced the following list of values: 14, 17, 23, 27, 37, 44, 59, 71, 95, 115;
  // http://www.modularscale.com by Tim Brown
  // https://github.com/scottkellum/modular-scale by scottkellum

