/*
  Foundation 3, artfully masterminded by ZURB
  Core
  forms.css - Regular and custom styles for common form elements.

  Requires:
    globals.css
*/

  @import "base";
  
  $formSpacing: 12px;

/* -----------------------------------------
   Standard Forms
----------------------------------------- */

  form { margin: 0 0 ($formSpacing * $ratio); }
  
  .row form .row { margin: 0 (-($formSpacing / 2));
  
    .column, .columns { padding: 0 ($formSpacing / 2); } 
    &.collapse { margin: 0; 
      .column, .columns { padding: 0; }
    }
  }
  
  label { color: lighten($black, 30%); cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; 
    
    .right { float: none; text-align: right; }
  }
  
  .prefix, .postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0; padding-bottom: 0; height: 30px; line-height: 30px;  }
  span.prefix, span.postfix { background: darken($white, 10%); border: 1px solid darken($white, 20%); }
  
  .prefix { left: 1px; @include border-corner-radius(top, left, 2px); @include border-corner-radius(bottom, left, 2px); }
  .postfix { right: 1px; @include border-corner-radius(top, right, 2px); @include border-corner-radius(bottom, right, 2px); }

  input[type="text"], textarea { border: 1px solid darken($white, 20%); @include border-radius(2px); @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1)); color: rgba(0,0,0,0.75); display: block; font-size: ms(0); margin: 0 0 $formSpacing 0; padding: ($formSpacing / 2); width: 100%; @include transition(all 0.15s linear);
    
    &.oversize { @include font-size(18, true); }

    &:focus { background: darken($white, 2%); outline: none !important; border-color: darken($white, 30%); }
    &[disabled] { background-color: #ddd; }
  }
  
  select { width: 100%; }

  input.input-text, textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; display: block; margin-bottom: 9px; @include font-size(13); padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) #fff; }
  textarea { max-width: 100%; }

  /* Fieldsets */
  fieldset { border: solid 1px #ddd; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 12px 12px 0; margin: 18px 0; 
    
    legend { font-weight: bold; background: $white; padding: 0 3px; margin: 0 0 0 -3px; }
  }

  /* Inlined Radio & Checkbox */
  .form-field input[type=radio], div.form-field input[type=checkbox] { display: inline; width: auto; margin-bottom: 0; }

  /* Errors */
  .form-field.error input, input.input-text.alert { border-color: $alertColor; background-color: rgba(255,0,0,0.15); }
  .form-field.error label, label.alert { color: $alertColor; }
  .form-field.error small, small.error { padding: 6px 4px; border: solid 0 #C00000; border-width: 0 1px 1px 1px; margin-top: -10px; background: $alertColor; color: #fff; @include font-size(12); font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; display: block; margin-bottom: 9px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }


  /* -----------------------------------------
     Custom Forms
  ----------------------------------------- */

  form.custom {

    span.custom { display: inline-block; width: 14px; height: 14px; position: relative; top: 2px; border: solid 1px #ccc; background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat;

      &.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
      &.radio.checked { background-position: -1px -15px; }
      &.checkbox.checked { background-position: -1px -29px; }
    }

    div.custom.dropdown { display: block; position: relative; width: auto; height: 28px; margin-bottom: 9px; margin-top: 2px;

      a.current { display: block; width: auto; line-height: 26px; min-height: 28px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; background-color: #fff; word-wrap: nowrap; }
      a.selector { position: absolute; width: 28px; height: 28px; display: block; background: url(../images/misc/custom-form-sprites.png) -14px 1px no-repeat; right: 0; top: 0; border: solid 1px #ddd; }

      &.open ul { display: block; z-index: 10; }

      &.small { width: 134px !important; }
      &.medium { width: 254px !important; }
      &.large { width: 434px !important; }
      &.expand { width: 100% !important; }

      &.open.small ul { width: 134px !important; }
      &.open.medium ul { width: 254px !important; }
      &.open.large ul { width: 434px !important; }
      &.open.expand ul { width: 100% !important; }
    }

    div.custom.dropdown:hover a.selector,
    div.custom.dropdown.open a.selector { background-position: -14px -25px; }

    div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: #fff; background: rgba(255,255,255,0.95); border: solid 1px #ddd;

      li { cursor: pointer; padding: 3px 38px 3px 6px; min-height: 18px; line-height: 18px; margin: 0; white-space: nowrap; list-style: none; }
      li.selected { background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat; }
      li:hover { background-color: $mainColor; color: #fff; }
      li.selected:hover { background: url(../images/misc/custom-form-sprites.png) $mainColor right -78px no-repeat; }
      &.show { display: block; }
    }

    /* Custom input, disabled */
    .custom.disabled { background-color: #ddd; }
  }
