/* Artfully masterminded by ZURB  /
 
 
/* -----------------------------------------
   Foundation-specific presentation CSS
----------------------------------------- */


body { padding-bottom: 60px; }
.row { width: 1440px; }

h1, h2, h3, h4, h5 { font-family: "Titillium"; }

header .subheader { position: relative; top: -18px; }

.row.display { background: #f4f4f4; margin-bottom: 10px; }
.row.display .column, .row.display .columns { background: #e7e7e7; border: 1px solid #ddd; font-size: 11px; text-indent: 3px; padding-top: 6px; padding-bottom: 6px; }

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5 { font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; }

.gist .gist-file { border-radius: 3px; }
.gist .gist-file .gist-data { background: #f9f9f9 !important; border-radius: 3px; }
.gist-data pre { font-size: 13px; font-size: 1.3rem; line-height: 18px; }
.gist .gist-file .gist-data { border-bottom: none !important; }
.gist .gist-file .gist-meta { background: #fff !important; border: none !important; color: #ccc !important; padding-top: 11px !important; }
.gist .gist-file .gist-meta a { color: #999 !important; }
.gist .gist-file .gist-meta a:hover { text-decoration: underline; }


/* -----------------------------------------
   Orbit Demo CSS
----------------------------------------- */
/* stuff for ZURB demo but not needed at all for orbit */

#orbitDemo .content {
	background: url(../images/orbit-demo/coffee.jpg);
}
#orbitDemo .content h1 {
	font-family: 'Helvetica', 'Arial', serif;
	color: #2f260f; 
	font-weight: bold !important;
	text-transform: uppercase; 
	text-shadow: 
		1px 1px 0 #f8f0d1,
		2px 2px 0 #f8f0d1,
		3px 3px 0 #1a5774;
	text-align: center; 
	margin-top: 15%;
}
#orbitDemo .content h3 {
	font-family: 'Helvetica', 'Arial', serif;
	color: #7f6b37; 
	font-weight: bold !important;
	text-align: center; 
}

#orbitDemo { background: url(../images/spinner.gif) no-repeat center center #000; height: 305px; margin-bottom: 20px; }
#orbitDemo.orbit { height: auto; }
#orbitDemo img, #orbitDemo div { display: none; }
#orbitDemo.orbit img, #orbitDemo.orbit div { display: block; }

@media handheld, only screen and (max-width: 767px) {

	#orbitDemo { height: 165px; }
	#orbitDemo.orbit { height: auto; }

	dl.nice.tabs.mobile { margin-bottom: 0px; }
	.nice.tabs.mobile dd a { padding: 12px 20px; }
	
	div.foundation-header h1 { font-size: 32px; font-size: 3.2rem; }
	
	div.slider-nav span { height: 50px; width: 39px; background-size: 100% auto; margin-top: -25px; }
}




/* ZURBjobs */

.jobs { border: 1px solid #eee; padding: 20px; }
.jobs .location { display: block; color: #555; }
.jobs ul { margin-bottom: 0px; }
.jobs ul li { list-style: none; margin-bottom: 12px; }
.jobs h5 { font-weight: 700; margin-bottom: 10px; }

.jobs-link { font-size: 13px !important; white-space: nowrap;  text-decoration: underline; font-weight: inherit; margin-bottom: 20px;}
.jobs-link a { color: # 555 !important;}

.jobs a#via { color: #aaa ;}
.jobs a#via:hover { color: #555;}



/* Fonts */

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L001-webfont.eot');
    src: url('../fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L002-webfont.eot');
    src: url('../fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L003-webfont.eot');
    src: url('../fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L004-webfont.eot');
    src: url('../fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L005-webfont.eot');
    src: url('../fonts/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L005-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L006-webfont.eot');
    src: url('../fonts/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L006-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: 900;
    font-style: normal;

}
